# Compiled source #
###################
*.out
*.dll
*.exe
*.o
*.so
*.d
*.a

# CMake leftovers
Makefile
CMakeCache.txt
cmake_*.cmake
_debs
out/
compile_commands.json

# VSCode
.cache/
*.code-workspace
.vscode/
